name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
        GH_ACCESS_TOKEN: ${{ secrets.ACTIONSSECRET }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
          
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16
    - run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/
    - run: git config --global user.name "Ignoxia"
    - run: git config --global user.email "comptuba@yahoo.com"
  
    - name: Install dependencies
      run: npm ci
      
    - name: Build and deploy Angular app
      run: npm run ng build 
      
    - name: Deploy to Github Pages
      run: npx angular-cli-ghpages --dir=./dist/helloworld-app  --no-silent
        #
